.taskLi{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 5px 10px;
    width: 500px;
    margin: 1rem auto;
    border-radius: 5px;
    border: 1px solid lightgray;
    transition: all 200ms linear;
}
.taskLi:hover{
    box-shadow: 0px 5px 10px -2px lightgray;
}
.checkSpan{
    width: 30px;
    height: 25px;
    /* background-color: red; */
    color: green;
}
.hiddenInp{
    width: 0;
    height: 0;
    visibility: hidden;
    display: none;
}
.taskLabel{
    cursor: pointer;
}

.taskLiComplated{
    background-color: rgba(144, 238, 144, 0.412);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 5px 10px;
    width: 500px;
    margin: 1rem auto;
    border-radius: 5px;
    border: 1px solid lightgreen;
    text-decoration: line-through;
    transition: all 200ms linear;
}
.taskLiComplated:hover{
    box-shadow: 0px 5px 10px -2px rgba(144, 238, 144, 0.412);
}
.deleteSpan{
    color: orangered;
    cursor: pointer;
}