.searchDiv{
    width: 500px;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: red; */
}
.searchInput{
    width: 100%;
    margin: 0 0.5rem;
    border: none;
    outline: none;
}