.inputDiv{
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#outlined-basic{
    width: 360px;
    /* background-color: aliceblue; */
}